.addTaskContent {
    margin-left: 96px;
}

.addTaskContent h1 {
    margin-block: 0;
    font-size: 61px;
    line-height: 73.2px;
    font-weight: 700;
    width: 278px;
    height: 73px;
    padding-top: 110px;
}

.form {
    height: 424px;
    display: flex;
    margin-top: 48px;
}

.formLeftSide {
    width: 440px;
    height: 376px;
}

.formRightSide {
    width: 440px;
    height: 416px;
}

.formSeparator {
    border: 1px solid #D1D1D1;
    margin-left: 48.25px;
    margin-right: 48.25px;
}

.formLeftSide span {
    color: #2A3647;
    font-weight: 400;
    font-size: 20px;
    width: 440px;
    display: block;
}

.formLeftSide span::after {
    content: attr(data-end);
    color: #FF8190;
}

.formLeftSide input {
    width: calc(440px - 44px);
    margin-top: 8px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: white;
    padding: 12px 21px;
    font-size: 20px;
    font-weight: 400;
}

.formLeftSide input::placeholder {
    font-size: 20px;
    font-weight: 400;
    width: 398px;
    color: #D1D1D1;
}

.formLeftSide input:focus {
    outline: none;
    border: 1px solid #29ABE2;
}

.requiredFieldText {
    color: #FF8190 !important;
    width: 440px;
    font-family: 'Poppins';
    font-size: 12px !important;
    height: 12px !important;
    display: none !important;
}

.formLeftSide {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.formLeftSide textarea {
    margin-top: 8px;
    height: calc(120px - 38px);
    width: calc(440px - 34px);
    padding: 18px 16px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    resize: none;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 21px;
    line-height: 25.2px;
}

.formLeftSide textarea::placeholder {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: #D1D1D1;
}

.formLeftSide textarea:focus {
    outline: none;
    border: 1px solid #29ABE2;
}

.dropDown::placeholder {
    color: black !important;
}

.dropDown:focus::placeholder {
    color: transparent !important;
}

.firstBlock {
    height: 96px;
}

.secondBlock {
    height: 168px;
}