

.h3{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

#headerContent{
    display: flex;
    margin-top: 64px;
    margin-left: 64px;
    margin-right: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headBar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.statusHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
    margin-top: 64px;
}

.headline{
    font-size: 40px;
}


.statusHeader h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    
}


.statusHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    padding-right: 13px;
    padding-left: 13px;
}

.board{
    display: flex;
    justify-content: center; 
    padding-left: 64px;
    padding-right: 64px;
}

.todos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-right: 13px;
    padding-left: 13px;
    min-height: 300px;
    width: 25%;
}

.dragAreaHighlight{
    border-style: dotted;
    border-radius: 24px ;
}

.noTasks{
    background-color: #e7e7e7;
    color: #b0b0b0;
    border-style: dotted;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    border-radius: 10px;
    margin-top: 15.5px;
    margin-right: 13px;
    margin-left: 13px;

}

/*dialog*/

.dialog-bgBoard{

        background-color: rgba(0, 0, 0, 0.2);
        z-index: 1000;
        position: fixed;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
        display: flex;
        justify-content: center;
        align-items: center; 
    
    }

.dialogAddTaskBoard {
        border-radius: 24px;
        width: 70vw;
        height: 70vh;
        background-color: white;
     
    }

.dialogShowCard {
    border-radius: 24px;
    background-color: white;
    height: 80vh;
    width: 33vw;
    padding: 32px 24px;
    border-radius: 24px;
    overflow-y: auto;
}

.d-none {
    display: none;
}

.card{
    height: auto;
    width: 100%;
    border-radius: 24px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    margin: 24px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


 

.rotateCard{
    height: auto;
    width: 100%;
    border-radius: 24px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    margin: 24px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(5deg);
  
}

.cardContent{
    padding: 16px;
    cursor: pointer;
}

.dueDate{
    display: flex;
    align-items: center;
    gap: 25px;
    align-self: stretch;
    
}

.grey{
    color: #42526E;
}

.editCard{
    height: 24px;
    width: 24px;
    padding: 4px;
    cursor: pointer;
}

.editCard:hover{
    background-color: #e4e4e4;
    border-radius: 50%;
}

.cardContent p{
    color: #A8A8A8;
}

.cardPrio{
    display: flex;
    padding: 4px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.cardContact{
    display: flex;
    padding: 7px 16px;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    gap: 16px;
    flex-direction: column;
    
}

.assignedContact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.avatar{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -7px;
}

.formArea {
        display:flex;
        flex-direction:row;
        border:1px solid #bebebe;
        border-radius: 10px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 312px;
        height: auto;
        padding: 8px 16px;
        cursor: pointer;
}

.inputArea {
    flex-grow:2;
    border:none;
  }
  
  .inputArea:focus {
    outline: none;
  }
  
  .formArea:focus-within { 
    border: 1px solid rgb(255, 255, 255);
    outline: 1px solid rgb(46, 185, 255) 
  }

  .buttonBoard{
    background-color: white;
    border: none;
    padding: 0px;
  }

  .searchBoard{
    width: 32px;
    height: 32px;
    margin-left: 16px;
    cursor: pointer;
}

.searchBoard:hover{
    background-color: #e4e4e4;
    border-radius: 50%;
}

.subtask{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-top:4px;
    padding-right: 16px; 

}


.subConti{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    padding: 4px;

}

.subConti:hover{
    background-color: #e5e5e5;
    border-radius: 8px;
    cursor: pointer;
}

.checkBg{
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkBg:hover{
    background-color: #d1d1d1;
    border-radius: 16px;
}
 
.closeSection{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.closeSectionItem{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    cursor: pointer;
}

.closeSectionItem:hover{
   font-weight: bold;
}


.addTaskBtn{
    border-radius: 10px;
    border: 1px solid #2A3647;
    background: #2A3647;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left:16px ;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 32px;
    cursor: pointer;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
}

.addTaskBtn:hover{
    background: rgb(46, 185, 255);
   border: 1px solid rgb(46, 185, 255);
}

.addTaskHeader{
    border-radius: 8px;
    border: 2px solid  #2A3647;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
}


.category{
    display: inline;
    padding: 4px 16px;
    border-radius: 8px;
    color: white;
    width: auto;
}

.cardHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

progress{
    height: 16px;
    width: 60%;
    border: none;
    overflow: hidden;
    border-radius: 8px;
    height: 8px;
}

progress::-webkit-progress-bar {
    background-color: #f4f4f4 ;
  }

  progress::-webkit-progress-value {
    background-color: #4588ff;
  }

  progress::-moz-progress-bar {
    background-color: #4caf50;
  }

  .progressBar{
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;

  }

  .notChecked{
    height: 18px;
    width: 19px;
  }

  .endSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin-top: 24px;
  }

.avatars{
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatars img{
    padding: -10px;
}

.filterBlue:hover{
    filter: invert(55%) sepia(26%) saturate(4412%) hue-rotate(160deg) brightness(96%) contrast(102%);
}

