.contactsContent {
    height: 100%;
    display: flex;
}

.contactSection {
    width: 456px;
    background-color: white;
    box-shadow: 4px 0px 6px 0px #00000014;
    overflow-y: scroll;
    height: 100%;
}

.contactSectionHeader {
    height: 101px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
}

.addNewContactButton {
    height: 56px;
    width: 352px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 21px;
}

.addNewContactButton img {
    width: 32px;
    height: 32px;
    padding-left: 16px;
}

.contacts {}

.infoSectionHeader {
    width: 569px;
    height: 73px;
    margin-top: 110px;
    margin-left: 55px;
    display: flex;
    align-items: center;
}

.separator {
    border-radius: 3px;
    border: 3px solid #29ABE2;
    height: 59px;
}

.infoSectionHeader h1 {
    margin-right: 30px;
    font-weight: 700;
    font-size: 61px;
    color: #000000;
}

.infoSectionHeader h3 {
    margin-block: 0;
    color: #2A3647;
    font-size: 27px;
    font-weight: 400;
    margin-left: 30px;
    white-space: nowrap;
}

.infoSectionContact {
    margin-top: 32px;
    margin-left: 62px;
    width: 461px;
    height: 364px;
}