.header span {
    font-weight: 400;
    font-size: 20px;
    width: 319px;
    height: 24px;
    padding-left: 116px;
}
.headerRight {
    display: flex;
    align-items: center;
    width: 104px;
    height: 56px;
    gap: 16px;
    padding-right: 40px;
}
.headerRight img {
    height: 32px;
    width: 32px;
}
.initials {
    border: 3px solid #2A3647;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    text-align: center;
    color: #29ABE2;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
}
.headerRight img:hover {
    cursor: pointer;
}
.headerRight div:hover {
    cursor: pointer;
}

