body {
    margin: 0;
    font-family: 'Inter';
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    user-select: none;
    position: relative;
}

h1 {
    margin-block: 0;
}

/*overlay for SignUp*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#successMessage {
    display: flex;
    height: 74px;
    padding: 0px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #FFFFFF;
    background: #2A3647;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    animation: slideIn 0.5s, slideOut 1s 2s;
}

@keyframes slideIn {
    from {
        transform: translate(0, 100%);
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes slideOut {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(0, 100%);
    }
}

.startPage {
    height: 100vh;
    background-color: #f6f7f8;
}

.mainDivOne {
    height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 77px;
    padding-right: 122px;
}

.signUp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}


.mainDivTwo {
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;

}

.loginBox {
    padding: 48px 115px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.login h1 {
    font-size: 61px;
}

.loginInput {
    border: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 422px;
    height: 48px;
}

.loginMailInputMsg {
    color: #FF8190;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    display: none;
}

.loginPasswordInputMsg {
    color: #FF8190;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    display: none;
}

.inputContainer img {
    margin: 12px 0px;
    width: 24px;
    height: 24px;
}

.login input:focus {
    outline: none;
}

.inputContainer {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 21px;
    width: 422px;
    gap: 10px;
    border: 1px solid #D1D1D1;
    margin-top: 16px;
    margin-bottom: 16px;
}

.checkBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin: 32px;
    margin-right: 280px;
    cursor: pointer;
}

.checkBoxUnchecked {
    height: 24px;
    width: 24px;
    display: block;
}

.checkBoxChecked {
    height: 24px;
    width: 24px;
    display: none;
}

#loginUnderline {
    margin-top: 16px;
    margin-bottom: 16px;
}

.logBtns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.loginBtn {
    background-color: #2a3646;
    color: white;
    border-radius: 8px;
    padding: 15px 24px;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    font-style: normal;
    font-size: 21px;
    font-weight: 700;
}

.loginBtn:hover {
    background: rgb(46, 185, 255);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.loginGuestBtn {
    color: #2a3646;
    padding: 15px 24px;
    background-color: white;
    border: 1px solid #2a3646;
    border-radius: 8px;
    cursor: pointer;
    font-style: normal;
    font-size: 21px;
    font-weight: 700;

}

.loginGuestBtn:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    color: rgb(46, 185, 255);
    border: 1px solid rgb(46, 185, 255);
}

.mainDivThree {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.mainDivThree a {
    text-decoration: none;
    color: #a8a8a8;
    padding: 8px;
    margin: 40px 8px;
}

.mainDivThree a:hover {
    font-weight: bold;
    color: rgb(46, 185, 255);
}

.SignUpBox {
    padding: 48px 88px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.confirmMsg {
    color: #FF8190;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    display: none;
}

.backArrow {
    position: absolute;
    margin-top: -450px;
    margin-left: -500px;
    cursor: pointer;
}

.backArrow:hover {
    background-color: #e7e7e7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.acceptBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 32px;
    cursor: pointer;
    color: #a8a8a8;
}
.acceptBoxUnchecked {
    height: 24px;
    width: 24px;
    display: block;
}
.acceptBoxChecked {
    height: 24px;
    width: 24px;
    display: none;
}
.acceptBox a {
    text-decoration: none;
    color: rgb(46, 185, 255);
}

.acceptBox a:hover {
    text-decoration: underline;
}

.applicationBody {
    display: flex;
}

.leftSide {
    background-color: #2A3647;
}

.navBar {
    width: 232px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.w3NavBar {
    height: 100%;
}

.header {
    position: relative;
    z-index: 999;
    height: 13vh;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.rightSide {
    width: 100%;
}

#content {
    background-color: #F6F7F8;
    height: calc(100vh - 96px);
    overflow: auto;
}

.buttonFilled {
    background-color: #2A3647;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.buttonFilled:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.buttonFilled:active {
    background-color: #091931;
    box-shadow: 0px 4px 4px 0px #00000040;

}

.buttonUnfilled {
    background-color: transparent;
    border: 1px solid #2A3647;
    border-radius: 8px;
    cursor: pointer;
}

.buttonUnfilled:hover {
    color: #29ABE2;
    border: 2px solid #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.buttonUnfilled:active {
    color: #091931;
    border: 1px solid #091931;
}

@media (max-width: 760px) {
 

    .navBar{
        position: fixed;
        bottom: 0px;
        width: 100vw;
        height: 88px;
        background-color: #2A3647;
        z-index: 10000;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .navBarContent.special{
        height: auto;
        flex-direction: row;
    }

    .navLogo img{
        display: none;
    }

    .navFooter div{
        display: none;
    }

    .navItems.special{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: unset;
    }

    .navItem.responsive{
        height: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        border-radius: 16px;
        gap: 4px;
        padding: 16px; ;
        padding-bottom: 15px;
        width: 50px;
        height: 50px;
    }

    .navItem.responsive img{
        padding-left: 0px;
        padding-right: 0px;
    } 
}