body {
    margin: 0;
    font-family: 'Inter';
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    overflow-y: hidden;
}

h1 {
    margin-block: 0;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login button {
    padding: 100px;
    font-size: 56px;
}

.applicationBody {
    display: flex;
}

.leftSide {
    background-color: #2A3647;
}

.navBar {
    width: 232px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.w3NavBar {
    height: 100%;
}

.header {
    position: relative;
    width: 1208;
    height: 96px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.rightSide {
    width: 100%;
}

#content {
    background-color: #F6F7F8;
    height: calc(100vh - 96px);
    overflow: auto;
}

.buttonFilled {
    background-color: #2A3647;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.buttonFilled:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.buttonFilled:active {
    background-color: #091931;
    box-shadow: 0px 4px 4px 0px #00000040;

}

.buttonUnfilled {
    background-color: transparent;
    border: 1px solid #2A3647;
    border-radius: 8px;
    cursor: pointer;
}

.buttonUnfilled:hover {
    color: #29ABE2;
    border: 2px solid #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.buttonUnfilled:active {
    color: #091931;
    border: 1px solid #091931;
}