body {
    margin: 0;
    font-family: 'Inter';
    max-width: 1440px;
    height: 100vh;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login button {
    padding: 100px;
    font-size: 56px;
}

.applicationBody {
    display: flex;
}

.leftSide {
    background-color: #2A3647;
}

.navBar {
    width: 232px;
    height: 100%;
}

.w3NavBar {
    height: 100%;
}

.header {
    height: 96px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightSide {
    width: 100%;
}