<div class="header">
        <span>Kanban Project Management Tool</span>
        <div class="headerRight">
            <img onclick="renderHelp()" src="../img/help.svg" alt="help">
            <div class="initials" id="initials" onclick="toggleDropdown()">G</div>
            <div class="dropdown" id="dropdown">
                <button class="headerDropDownButton" onclick="render(legalNotice)">Legal Notice</button>
                <button class="headerDropDownButton" onclick="render(privacyPolicy)">Privacy Policy</button>
                <button class="headerDropDownButton" onclick="window.location.href = 'index.html'">Log out</button>
            </div>
        </div>
</div>