<div class="navBar">
    <div class="navBarContent">
        <!-- navbar content here with navBar.css  -->
        <div class="navLogo">
            <img id="navLogo" onclick="renderSummary()" src="../img/Capa 1.svg" alt="Logo">
        </div>
        <div class="navItems">
            <div class="navSummary" id="summary" onclick="renderSummary()"><img src="../img/summary.svg" alt=""> Summary</div>
            <div class="navAddTask" id="addTask" onclick="renderAddTask()"><img src="../img/addTask.svg" alt=""> AddTask</div>
            <div class="navBoard" id="board" onclick="renderBoard()"><img src="../img/board.svg" alt=""> Board</div>
            <div class="navContacts" id="contacts" onclick="renderContacts()"><img src="../img/contacts.svg" alt=""> Contacts</div>
        </div>
        
        <div class="navFooter">
            <div id="privacyPolicy" onclick="renderPrivacyPolicy()">Privacy Policy</div>
            <div id="legalNotice" onclick="renderLegalNotice()">Legal Notice</div>
        </div>
    </div>
</div>