<div class="navBar">
    <div class="navBarContent">
        <!-- navbar content here with navBar.css  -->
        <div class="navLogo">
            <img src="../img/Capa 1.svg" alt="Logo">
        </div>
        <div class="navItems">
            <div class="navSummary" onclick="renderSummary()"><img src="../img/summary.svg" alt=""> Summary</div>
            <div class="navAddTask" onclick="renderAddTask()"><img src="../img/addTask.svg" alt=""> AddTask</div>
            <div class="navBoard" onclick="renderBoard()"><img src="../img/board.svg" alt=""> Board</div>
            <div class="navContacts" onclick="renderContacts()"><img src="../img/contacts.svg" alt=""> Contacts</div>
        </div>
        <div class="navFooter">
            <div onclick="renderPrivacyPolicy()">Privacs Policy</div>
            <div onclick="renderLegalNotice()">Legal Notice</div>
        </div>
    </div>
</div>