<div class="navBar">
    <div class="navBarContent">
        <!-- navbar content here with navBar.css  -->
        <div class="navLogo">
            <img src="../img/Capa 1.svg" alt="Logo">
        </div>
        <div class="navItems">
            <button onclick="renderSummary()">Summary</button>
            <button onclick="renderAddTask()">AddTask</button>
            <button onclick="renderBoard()">Board</button>
            <button onclick="renderContacts()">Contacts</button>
        </div>
        <div class="navFooter">
            <a href="" onclick="renderPrivacyPolicy()">Privacs Policy</a>
            <a href="" onclick="renderLegalNotice()">Legal Notice</a>
        </div>
    </div>
</div>